# Ignore swap files
*.swp
*.swa

# Ignore config files
*.cfg

# Ignore the backup directory
backup/*

# Ignore the Vundle bundle folder
vim/bundle/*
vim/undo/*

# Ignore generated fish files
/fish/*
!/fish/*.fish
