[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
User=balancio
Group=balancio
RuntimeDirectory=gunicorn
WorkingDirectory=/home/balancio/balancio/balancio
ExecStart=/home/balancio/.pyenv/versions/balancio/bin/gunicorn balancio.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
